.jcarousel {
	margin-bottom: 20px;
}
.jcarousel .jcarousel-container {
	padding: 0 60px;
}
.jcarousel .jcarousel-clip {
	width: 100%;
	overflow: hidden;
}
.jcarousel .jcarousel-item {
	margin: 0;
	text-align: center;
}
.jcarousel .jcarousel-item img {
	vertical-align: middle;
}
.jcarousel .jcarousel-direction-rtl {
	direction: rtl;
}
.jcarousel .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-right: 0;
	margin-left: 10px;
}
.jcarousel .jcarousel-item-placeholder {
	color: #000;
	background: #fff;
}
/**
 *  Horizontal Buttons
 */
.jcarousel-container .jcarousel-next-horizontal,
.jcarousel-container .jcarousel-prev-horizontal {
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
}
.jcarousel-container .jcarousel-next-horizontal {
	background: #ddd url(../image/icons/icon-nav-arrows.png) right center no-repeat;
}
.jcarousel-container .jcarousel-prev-horizontal {
	background: #ddd url(../image/icons/icon-nav-arrows.png) left center no-repeat;
}
.jcarousel-container .jcarousel-next-horizontal,
.jcarousel-container .jcarousel-prev-horizontal {
	top: 50%;
	margin-top: -15px;
}
.jcarousel-container .jcarousel-next-horizontal {
	right: 0;
}
.jcarousel-container .jcarousel-prev-horizontal {
	left: 0;
}